.favoritebanner {
  width: auto; /* mantiene proporción */
  height: 100%; /* ocupa todo el alto del contenedor */
}

body {
  margin: 0px;
  padding: 0px;
}

.content-testimonial {
  margin-top: 42px;
  display: flex;
  justify-content: center;
}
.rating {
  display: block;
  margin: 0 auto;
}
