.category{
    width: 100vw;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

#shirts{
    background-image: url(/assets/dev\ shirts.png);
    background-position: center;
}