* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.sticky-banner {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    font-family: Work Sans;

    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;

}

.sticky-banner .banner-message {
    border-bottom: solid 1px #E0E0E0;
    color: #F1F1F1;
    font-weight: 300;
    padding: 8px 8px 4px;
}

.sticky-banner .banner-link{
    padding: 4px 8px 8px;
}

.sticky-banner .banner-link a{
    text-decoration: none;
    color: #F1F1F1;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
}

.sticky-banner .banner-link a img {
    width: 14px;
    height: 14px;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    position: relative;
}

.header-navbar div{
    display: flex;
    height: 20px;
    gap: 10px;
}

.header-navbar div img.menu-icon {
    margin-right: 20px;
}

.header-navbar div img {
    width: 20px;
    height: 20px;
}

.header-navbar div img.gm2-logo {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desktop-only {
    display: none;
}

.cart {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  bottom: 0;   /* lo pegás abajo */
  right: 0;    /* y a la derecha */
  transform: translate(40%, 40%); /* lo corrés un poco hacia afuera */

  background: linear-gradient(135deg, #a446f4, #5a7cf6);
  color: white;
  font-size: 6px;
  font-weight: 600;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media  (min-width: 768px) {
    .sticky-banner {
        flex-direction: row;
        justify-content: space-around;
        justify-items: center;
    }

    .sticky-banner > div{
        flex: 1;
        text-align: center;
    }

    .sticky-banner .banner-message {
        justify-content: center;
        justify-items: center;
        padding: 8px;
        border: none;
        white-space: nowrap;
    }

    .sticky-banner .banner-link{
        padding: 8px;
    }

    .header-navbar { 
        padding: 44px 64px;
    }

    .header-navbar div img.gm2-logo { 
        width: 76px;
        height: 76px; 
    }

    .desktop-only { 
        display: inline-flex; 
    }

    .mobile-only { 
        display: none; 
    }

    .search-bar input {
        display: block;
        width: 197px;
        height: 20px;
        border: none;
        font-size: 16px;
        line-height: 113.99999999999999%;
        outline: none;
        color: #1E1E1EBF;
        font-weight: lighter;
        margin-left: -2px ;
    }

    .header-navbar .left,
    .header-navbar .right { gap: 16px; }

    .page-list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
    }

    .page-list ul {
        list-style: none;
        display: flex;
        gap: 16px;
    }

    .page-list a {
        text-decoration: none;
        color: #1E1E1E;
        font-weight: 500;
        font-style: SemiBold;
        line-height: 150%;
        letter-spacing: 2%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
    }
    
    .page-list a.selected-page {
        text-decoration: underline;
        color: #E968FE;
        font-weight: 600;
    }
}