.hero {
    display: flow-root;
    background-image: url(/assets/HeroImage.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.hero-container{
    margin-top: 279px;
    display: flow-root;
}

.main-title {
    height: 97px;
    color: #F1F1F1;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 8%;
    text-align: center;
    margin: 0 33px;
    margin-top: 47px;
}

.see-offers {
    border: 1px solid #F4F4F5;
    box-sizing: border-box;
    width: 121px;
    height: 47px;
    margin: 24px auto;

}

.see-offers .text {
    text-align: center;
    color: #F1F1F1;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 8%;
    vertical-align: middle;
    padding: 16px;
}

@media (min-width: 768px){
    .hero{
        background-size: cover;
    }
    .main-title{
        margin: 0 auto;
        margin-top: 64px;
        width: 470px;
        font-size: 40px;
    }
    .see-offers{
        margin-bottom: 64px;
    }
}