body {
  margin: auto;
}
.product-detail-arrow-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  margin: 0 auto;
}
.pD-left-btn,
.pD-right-btn {
  opacity: 30%;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.size-btn {
  display: flex;
}
.size-btn button {
  background-color: white;
  border: 1px solid #e968fe;
  color: black;
  width: 43px;
  height: 43px;
  margin-right: 8px;
}
.size-btn button.active {
  background-color: #e968fe;
  color: white;
}
#S {
  margin-left: 10px;
}
#products {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  position: relative;
}
.selected-size {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  height: 20px;
  margin-left: 10px;
}
#zoomImg {
  position: absolute;
  margin-left: 32px;
}
.size-guide {
  color: #e968fe;
  margin-left: 3px;
}
.quantity {
  margin-top: 16px;
  margin-left: 3px;
}
.more-less {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  opacity: 50%;
  height: 43px;
  width: auto;
  max-width: 400px;
}
.more-less-div {
  display: flex;
  justify-content: center;
}
#more {
  height: 30px;
  width: 30px;
  border: none;
  background-color: white;
}
#less {
  height: 30px;
  width: 30px;
  border: none;
  background-color: white;
}
.title-product {
  font-family: Work Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
  padding-bottom: 8px;
}
.price-product {
  font-family: Work Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
  padding-bottom: 16px;
}
.description-product {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2%;
}
body {
  margin: auto;
}
main {
  padding-left: 16px;
  padding-right: 16px;
}
.rate-product {
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.review-product {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #e968fe;
}

#circule {
  background: #108043;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 8px;
}

.stock {
  width: 57;
  height: 20;
  font-weight: 300;
  font-style: Light;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 3%;
}
.add-to-cart {
  color: #e968fe;
  border: 1px solid #e968fe;
  background-color: white;
  width: auto;
  height: 47px;
  margin-top: 10px;
  max-width: 400px;
}
.buy-now-div {
  display: flex;
  justify-content: center;
}

.add-to-cart-div {
  display: flex;
  justify-content: center;
}
.buy-now {
  color: white;
  background: linear-gradient(246.9deg, #e968fe -13.83%, #602ee1 85.37%);
  width: auto;
  max-width: 700px;
  height: 47px;
  margin-top: 10px;
  border: none;
}
.add-to-cart,
.buy-now,
.more-less {
  width: 100%;
  height: 47px;
  margin-top: 10px;
  max-width: 400px;
}
