body{
  margin: auto;
}
.product-detail-arrow-btn {
  max-width: 60%;
  align-items: end;
}
.pD-right-btn {
  transform: translateX(240px);
  opacity: 30%;
  width: 20px;
  height: 20px;
}
.pD-left-btn {
  transform: translateX(150px);
  opacity: 30%;
  width: 20px;
  height: 20px;
}
.size-btn {
  display: flex;
}
.size-btn button {
  background-color: white;
  border: 1px solid #e968fe;
  color: black;
  width: 43px;
  height: 43px;
  margin-right: 8px;
}
.size-btn button.active {
  background-color: #e968fe;
  color: white;
}
#S {
  margin-left: 10px;
}
#products {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  position: relative;
}
.selected-size {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  height: 20px;
  margin-left: 10px;
}
#zoomImg {
  position: absolute;
  margin-left: 32px;
}
.size-guide{
  color: #E968FE;
  margin-left: 3px;
}
.quantity{
  margin-top: 16px;
  margin-left: 3px;
}
.more-less{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: -10px;
  margin-right: 20px;
  opacity: 50%;
  height: 43px;
  width: 400px;
  max-width: auto;
  transform: translateX(10px);
}
#more{
height: 30px;
width: 30px;
border: none;
background-color: white;
}
#less{
height: 30px;
width: 30px;
border: none;
background-color: white;
}
.title-product {
  font-family: Work Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
  padding-bottom: 8px;
}
.price-product {
  font-family: Work Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
  padding-bottom: 16px;
}
.description-product {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2%;
}
main {
  padding-left: 16px;
  padding-right: 16px;
}
.rate-product {
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.review-product {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: #e968fe;
}
.add-to-cart{
  color: #E968FE;
  border: 1px solid #e968fe;
  background-color: white;
  width: 400px;
  height: 47px;
  margin-top: 10px;
}
.add-to-cart-div{
  display: flex;
  justify-content: start;
}
.buy-now{
  color: white;
  background: linear-gradient(246.9deg, #E968FE -13.83%, #602EE1 85.37%);
  width: 400px;
  height: 47px;
  margin-top: 10px;
  border: none;
}

