.product-detail-arrow-btn{
    max-width: 60%;
    align-items: end;
}
.pD-right-btn{
transform: translateX(240px);
opacity: 30%;
width: 20px;
height: 20px;
}
.pD-left-btn{
    transform: translateX(150px);
    opacity: 30%;
    width: 20px;
    height: 20px;
}
.size-btn{
display: flex;
}
.size-btn button {
  background-color: white;
  border: 1px solid #E968FE;
  color: black;           
  width: 43px;
  height: 43px;
  margin-right: 8px;
}
.size-btn button.active {
  background-color: #E968FE;
  color: white;          
}
#S{
    margin-left: 10px;
}
#products{
    display: flex;
    justify-content: center;   
    margin-bottom: 8px; 
    position: relative;
}
.selected-size {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  height: 20px;
  margin-left: 10px;
}
#zoomImg{
    position: absolute;
    margin-left: 32px;
}
#products img.enlarged {
  width: 400px; /* tamaño agrandado */
  display: block;
  margin: 0 auto;
}

#zoomImg {
  width: 50px;
  cursor: pointer;
}